body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  height: 70px;
}

.button {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton {
  background-color: blueviolet;
  color: white;
}

.mainButton:hover {
  box-shadow: 1px 1px green;
  color: white;
}

.secondaryButton {
  background-color: rgb(43, 107, 226);
  color: white;
}

.secondaryButton:hover {
  box-shadow: 1px 1px rgb(128, 126, 0);
  color: white;
}

.buscar {
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
}

.buscar:focus-within {
  border: 1px solid blue;
}

.buscar > input {
  outline: none;
  border: 0px;
}
