p{
    color: slateblue;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: darkolivegreen;
    font-size: x-large;
    font-weight: 900;
    font-style: normal;
}

#parrafo3{
    color: green;
}

.parrafogris{
    color: grey;
}

.parrafonegro{
    color: black;
}

.contenedorconmargen {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid red;
    padding: 10px;
}

.divtest {
    border: 1px solid blueviolet;
}

.contenedorDivsGrid{
    border: 2px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 35% 35% 30%;
    margin: 20px;
}

.contenedorDivsFlex{
    border: 2px solid green;
    display: flex;
    height: 100px;
    /*justify-content: center;*/
    justify-content: space-around;
    /*align-items: center;*/
    align-items: flex-start;

}